
*{
  margin:0;
  padding: 0;
}

html, body{
  font-size: 18 px;
  background-color: #fff;
}
h1{
  max-width: 950px;
  font-size: 3.5em;
  font-family: Lato, sans-serif;
  font-weight: 900;
  line-height: 1.1;
  margin: 20px 0;
}

.App { 
  min-height: 100vh; /* que se adapte todo lo que escribo vertical mente a lo maximo que se permita del navegador*/
  display: flex;/* define como se ubican los elementos dentro del contenedor*/
  flex-wrap: wrap; /*si un elemento toma todo el ancho del contenedor, los siquientes se alinean en la siguiente linea  */
  align-items: center;
  justify-content: center; /* significa que alinea los elementos vetical y horizontal mente */
   
}

.contenedor-testimonio {
  min-height:100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}